body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding:20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#order_item_list,
#pending_loading_items_div table.items{
	border:1px solid black;
	text-align:center;
}

#order_item_list th,
#pending_loading_items_div table.items th{
	background:url("bg.gif") repeat-x scroll left top white;
	color:white;
	border:1px solid white;
	width:25%;
	text-align:center;
}

#order_item_list th.quantity{
	width:10%;
}

#order_item_list td,
#pending_loading_items_div table.items td{
	border:1px solid white;
	width:25%;
	text-align:center;
}

#order_item_list td.quantity{
	width:10%;
}

#order_item_list tr.order_item_empty td{
	font-style:italic;	
	width:100%;
	padding:3px;
	text-align:center;
}

#order_item_list td select, #order_item_list td input[type=text]{
	margin:0;
	width:100%;
	text-align:center;
}

.customer_order_info{
	margin:0 0 20px 50px;
}

.customer_order_info div{
	text-align:left;
	font-size:13px;
	font-weight:bold;
}

table.items td{
	text-align:center;
}

table.items th#customer-order-grid_c1{
	width:50%;
}

table.items th#supplier-order-grid_c2{
	width:60%;
}

table.items th#supplier-order-container-grid_c2{
	width:60%;
}

#supplier-order-container-grid td.added_date,
#supplier-order-container-grid td.status{
	width:30%;
}

#supplier-order-container-grid th.items{
	width:80%;
}

table.items th#self-supplier-order-grid_c1{
	width:60%;
}

table.items table.item_list{
	margin:0;
}

table.items table.item_list td.item_code{
	width:15%;
}

table.items table.item_list td.color{
	width:10%;
}

table.items table.item_list td.price{
	width:10%;
}

.add_item_box_wrapper{
	display:none;
}

.add_item_box{
	display:none;
}

#fancybox-content .add_item_box{
	display:block;
}

.grid_header{
	text-align:right;
}

form#checkout_form{
}

form#checkout_form div.field_list{
	margin:10px 0 10px 30px;	
}

form#checkout_form div.field_list#shipping_address.active{
	margin:10px 0 10px 50px;
	display:block;
}

form#checkout_form div.field_list#shipping_address{
	display:none;
}

form#checkout_form div.field_row{
	display:block;
	overflow:hidden;
	margin:10px;
}

form#checkout_form div.field_label{
	float:left;
	width:200px;
}

form#checkout_form div.field_content{
	float:left;
	width:400px;
}

form#checkout_form div.field_content input[type="text"]{
	width:210px;
}

form#checkout_form span.inputRequirement{
	color:#FF0000;
}

#regencyshop-content{
	padding:0 20px 20px;
}

.regencyshop-logo{
	margin:40px 0 0 30px;
}

#uploadOrderAttachDiv input[type="button"]
{
    display:block; /* or inline-block */
    width: 230px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:15px auto 0;
	border:0;
}

#setEtlDiv{
	width: 160px; 
	margin: 15px auto;
}

#setEtlDiv input[type="button"]
{
    display:block; /* or inline-block */
    width: 160px; 
	padding: 7px 0;
	text-align:center;
    background:#880000;
	border-bottom:1px solid #ddd;color:#fff;
	margin:15px auto 0;
	border:0;
}

#add_item_box input[type="button"]
{
    display:block; /* or inline-block */
    width: 160px; 
	padding: 7px 0;
	text-align:center;
    background:#880000;
	border-bottom:1px solid #ddd;color:#fff;
	margin:15px;
	border:0;
}

#activity-grid table.items th#activity-grid_c0{
	width:150px;
}

#createCotainerDiv label{
	width:100px;
	display:block;
	float:left;
}

#createCotainerDiv div{
	padding:10px 15px;	
}

#createCotainerDiv input[type="button"]
{
    display:block; /* or inline-block */
    width: 160px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:0 auto;
	border:0;
}

#editPriceDiv{
	margin:15px 30px;
}

#editPriceDiv h3{
	margin:10px;
}

#editPriceDiv div.row{
	margin:10px 0;
}

#editPriceDiv div.row label{
	width:300px;
	display:block;
	float:left;
	line-height:25px;
}

.qq-upload-button{
	width:230px !important;
}

#editPriceDiv input[type="button"]{
	display:inline-block; /* or inline-block */
    width: 230px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:0 auto;
	border:0;
}

th#supplier-order-container-bidding-grid_c1{
	width:25%;
}

th#supplier-order-container-bidding-grid_c2{
	width:25%;
}

#supplier-order-container-bidding-grid_c5{
	width:15%;
}

#supplier-order-container-bidding-grid_c6{
	width:15%;
}

#check_in_out_div input[type="submit"]{
	width:280px;
	height:120px;
	font-size:30px;
}

p.total_fob_price, p.total_exw_price{
	margin:0;
	padding:0;
}

#not-ordered-items-grid .summary{
	text-align:left;
	color:#EE0000;
	font-size:16px;
	font-style:italic;
	padding:0 0 0 40px;
	background:url("../images/button_images/critical.png") no-repeat scroll 10px 3px transparent;
}

#order_item_list th.item_eta{
	width:40%;
}

#individual-item-grid_c9{
	width:100px;
}

table#pending_scan_item{
	margin:20px auto;
	width:90%;
	border:1px solid #888;
}

table#pending_scan_item tr{
	padding:5px 0;
}

#close_pending_scan_div
{
    display:block; /* or inline-block */
    width: 160px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:15px auto 0;
	border:0;
}

h3{
	margin:10px;
}

.grid-view{
	padding:0 !important;
}

#add_new_customer_box input[type="button"]
{
    display:block; /* or inline-block */
    width: 160px; 
	padding: 7px 0;
	text-align:center;
    background:#880000;
	border-bottom:1px solid #ddd;color:#fff;
	margin:15px;
	border:0;
}

#total_price_same{
	font-size:16px;
	font-style:italic;
	color:#EE0000;
	margin:10px 0 5px;
}

#total_price_same.same{
	color:#00AA00;
}

table.items tr.Pending{
	background-color:#f88 !important;
}

table.items tr.Denied{
	background-color:#f88 !important;
}

.error_messages.active{
	display:block;
}

.error_messages{
	display:none;
}

#waiting_item_content.active{
	display:block;
}

#waiting_item_content{
	display:none;
}

#waiting_supplier_order_content.active{
	display:block;
}

#waiting_supplier_order_content{
	display:none;
}

table#official_documents tr.no_result td{
	font-style:italic;
	text-align:center;
}

.checkout_order_info{
	margin-left:30px;
	line-height:20px;
	margin-bottom:30px;
}

#editPriceDiv.active{
	display:block;
}

#editPriceDiv{
	display:none;
}

#bidDateDiv.active{
	display:block;
}

#bidDateDiv{
	display:none;
}

#bidDateDiv{
	margin:15px 30px;
}

#bidDateDiv h3{
	margin:10px;
}

#bidDateDiv div.row{
	margin:10px 0;
}

#bidDateDiv div.row label{
	width:300px;
	display:block;
	float:left;
	line-height:25px;
}

#bidDateDiv input[type="button"]{
	display:inline-block; /* or inline-block */
    width: 230px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:0 auto;
	border:0;
}

.detail_exw_fob_price{
	display:none;
}

.detail_exw_fob_price.active{
	display:block;
}

#sendOrderDiv{
	padding:10px
}

#sendOrderDiv #supplier_list_div{
	margin:15px 0;
	display:none;
}

#sendOrderDiv #supplier_list_div.active{
	display:block;
}

#sendOrderDiv label{
	display:block;
	width:100px;
	float:left;
}

#sendOrderDiv input[type="button"]{
	display:inline-block;
    width: 180px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:15px auto 0;
	border:0;	
}

#supplier_order_list_div{
	display:none;
}

#supplier_order_list_div.active{
	display:block;
}

#fancybox-content table.items{
	border:1px solid #888;
}

#fancybox-content table.items th,
#fancybox-content table.items td{
	border:1px solid #888;
}

#progress{
	text-align:center;
	margin:10px;
}

div.choosen_shipper{
	color:#ff8800;
	font-weight:bold;
}

div.lowest_price_in_container{
	background-color:#BCE774;
}

div#supplier_order_items_list_div{
	margin:20px 0 0;
	border:1px solid #888;
}

div#supplier_order_items_list_div table{
	margin:0;
}

div#load_supplier_order_items_div{
	margin:20px 0;
}

.error_loading_pending_messages.active{
	display:block;
}

.error_loading_pending_messages{
	display:none;
}

#loading-pending-items-grid .summary{
	text-align:left;
	color:#EE0000;
	font-size:16px;
	font-style:italic;
	padding:0 0 0 40px;
	background:url("../images/button_images/critical.png") no-repeat scroll 10px 3px transparent;
}

#createOrderForPendingLoadingItemsDiv{
	padding:10px
}

#createOrderForPendingLoadingItemsDiv label{
	display:block;
	width:100px;
	float:left;
}

#createOrderForPendingLoadingItemsDiv input[type="button"]{
	display:inline-block;
    width: 180px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:15px auto 0;
	border:0;	
}

#supplier_order_list_content_for_pending_loading{
	display:none;
}

#supplier_order_list_content_for_pending_loading.active{
	display:block;
}

.total_price{
	margin:20px 0 !important;
}

#pending_loading_items_div input[type="text"].new_quantity{
	text-align:center;
}

#pending_loading_items_h{
    display: none;
}

.loading_quantity{
	text-align:center;
}