.company_info{
	float:left;
	overflow:left;
	width:400px;
	color:#00FF00;
}

.company_info h2{
	margin:0;
	padding:0;
}

.company_info p{
	margin:10px 0;
}

.invoice_info{
	float:left;
	overflow:left;
}

.invoice_info p{
	margin:10px 0;
}