body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding:20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

.clear
{
	clear: both;
	font-size: 0;
	line-height: 0;
	height: 0;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#logo a
{
	color: #000;
	text-decoration: none;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
	position: relative;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li:hover a, #mainmenu ul li.active a,
#mainmenu ul ul a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

#mainmenu ul ul a
{
	display: block;
}

#mainmenu ul ul
{
	display: none;
	position: absolute;
	background-color:#EFF4FA;
	left: -2px;
	top: 21px;
	padding-left: 0;
    padding-right: 0;
    width: 200px;
    z-index: 100;
    border: #6399cd 2px;
    border-style: none solid solid;
}

#mainmenu ul ul li
{
	display: block;
	height: 20px;
}

#mainmenu ul ul li:hover a
{
	text-decoration: underline;
}

#mainmenu ul li:hover ul
{
	display: block;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#order_item_list,
#pending_loading_items_div table.items{
	border:1px solid black;
	text-align:center;
}

#order_item_list th,
#pending_loading_items_div table.items th{
	background:url("bg.gif") repeat-x scroll left top white;
	color:white;
	border:1px solid white;
	width:25%;
	text-align:center;
}

#order_item_list th.quantity{
	width:10%;
}

#order_item_list td,
#pending_loading_items_div table.items td{
	border:1px solid white;
	width:25%;
	text-align:center;
}

#order_item_list td.quantity{
	width:10%;
}

#order_item_list tr.order_item_empty td{
	font-style:italic;	
	width:100%;
	padding:3px;
	text-align:center;
}

#order_item_list td select, #order_item_list td input[type=text]{
	margin:0;
	width:100%;
	text-align:center;
}

.customer_order_info{
	margin:0 0 20px 50px;
}

.customer_order_info div{
	text-align:left;
	font-size:13px;
	font-weight:bold;
}

table.items td{
	text-align:center;
}

table.items th#customer-order-grid_c1{
	width:50%;
}
/*
table.items th#supplier-order-grid_c2{
	width:60%;
}

table.items th#supplier-order-container-grid_c2{
	width:60%;
}
*/
#supplier-order-container-grid td.added_date,
#supplier-order-container-grid td.status{
	width:30%;
}

#supplier-order-container-grid th.items{
	width:80%;
}

table.items th#self-supplier-order-grid_c1{
/*	width:60%;*/
}

table.items table.item_list{
	margin:0;
}

table.items table.item_list td.item_code{
	width:15%;
}

table.items table.item_list td.color{
	width:10%;
}

table.items table.item_list td.price{
	width:10%;
}

.add_item_box_wrapper{
	display:none;
}

.add_item_box{
	display:none;
}

#fancybox-content .add_item_box{
	display:block;
}

.grid_header{
	text-align:right;
}

form#checkout_form{
}

form#checkout_form div.field_list{
	margin:10px 0 10px 30px;	
}

form#checkout_form div.field_list#shipping_address.active{
	margin:10px 0 10px 50px;
	display:block;
}

form#checkout_form div.field_list#shipping_address{
	display:none;
}

form#checkout_form div.field_row{
	display:block;
	overflow:hidden;
	margin:10px;
}

form#checkout_form div.field_label{
	float:left;
	width:200px;
}

form#checkout_form div.field_content{
	float:left;
	width:400px;
}

form#checkout_form div.field_content input[type="text"]{
	width:210px;
}

form#checkout_form span.inputRequirement{
	color:#FF0000;
}

#regencyshop-content{
	padding:0 20px 20px;
}

.regencyshop-logo{
	margin:40px 0 0 30px;
}

#uploadOrderAttachDiv input[type="button"]
{
    display:block; /* or inline-block */
    width: 230px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:15px auto 0;
	border:0;
}

#setEtlDiv{ 
	margin: 15px auto;
}

#setEtlDiv input[type="button"]
{
    display:block; /* or inline-block */
    width: 160px; 
	padding: 7px 0;
	text-align:center;
    background:#880000;
	border-bottom:1px solid #ddd;color:#fff;
	margin:15px auto 0;
	border:0;
}

#add_item_box input[type="button"]
{
    display:block; /* or inline-block */
    width: 160px; 
	padding: 7px 0;
	text-align:center;
    background:#880000;
	border-bottom:1px solid #ddd;color:#fff;
	margin:15px;
	border:0;
}

#activity-grid table.items th#activity-grid_c0{
	width:150px;
}

#createCotainerDiv label,
#orderStatusDiv label,
.fancy_form label
{
	width:100px;
	display:block;
	float:left;
}

#schedule_pickup_form label
{
	float: none;
	display: inline;
}

#createCotainerDiv div,
#orderStatusDiv div,
.fancy_form div
{
	padding:10px 15px;	
}

#createCotainerDiv input[type="button"],
#orderStatusDiv input[type="button"],
.fancy_form input[type="button"]
{
    display:block; /* or inline-block */
    width: 160px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:0 auto;
	border:0;
}

.editPriceDiv{
	margin:15px 30px;
}

.editPriceDiv h3{
	margin:10px;
}

.editPriceDiv div.row{
	margin:10px 0;
}

.editPriceDiv div.row label{
	width:300px;
	display:block;
	float:left;
	line-height:25px;
}

.qq-upload-button{
	width:230px !important;
}

.editPriceDiv input[type="button"]{
	display:inline-block; /* or inline-block */
    width: 230px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:0 auto;
	border:0;
}

th#supplier-order-container-bidding-grid_c1{
	width:25%;
}

th#supplier-order-container-bidding-grid_c2{
	width:25%;
}

#supplier-order-container-bidding-grid_c5{
	width:15%;
}

#supplier-order-container-bidding-grid_c6{
	width:15%;
}

#check_in_out_div input[type="submit"]{
	width:280px;
	height:120px;
	font-size:30px;
}

p.total_fob_price, p.total_exw_price{
	margin:0;
	padding:0;
}

#not-ordered-items-grid .summary{
	text-align:left;
	color:#EE0000;
	font-size:16px;
	font-style:italic;
	padding:0 0 0 40px;
	background:url("../images/button_images/critical.png") no-repeat scroll 10px 3px transparent;
}

#order_item_list th.item_eta{
	width:40%;
}

#individual-item-grid_c9{
	width:100px;
}

table#pending_scan_item{
	margin:20px auto;
	width:90%;
	border:1px solid #888;
}

table#pending_scan_item tr{
	padding:5px 0;
}

#close_pending_scan_div
{
    display:block; /* or inline-block */
    width: 160px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:15px auto 0;
	border:0;
}

h3{
	margin:10px;
}

.grid-view{
	padding:0 !important;
}

#add_new_customer_box input[type="button"]
{
    display:block; /* or inline-block */
    width: 160px; 
	padding: 7px 0;
	text-align:center;
    background:#880000;
	border-bottom:1px solid #ddd;color:#fff;
	margin:15px;
	border:0;
}

#total_price_same{
	font-size:16px;
	font-style:italic;
	color:#EE0000;
	margin:10px 0 5px;
}

#total_price_same.same{
	color:#00AA00;
}

table.items tr.Pending{
	background-color:#f88 !important;
}

table.items tr td.quantity.sold{
    font-weight: bold;
    cursor: pointer;
}

table.items tr td.quantity span{
    font-weight: normal;
    color: #f00;
}

table.items tr.Denied{
	background-color:#f88 !important;
}

.error_messages.active{
	display:block;
}

.error_messages{
	display:none;
}

#waiting_item_content.active{
	display:block;
}

#waiting_item_content{
	display:none;
}

#waiting_supplier_order_content.active{
	display:block;
}

#waiting_supplier_order_content{
	display:none;
}

table#official_documents tr.no_result td{
	font-style:italic;
	text-align:center;
}

.checkout_order_info{
	margin-left:30px;
	line-height:20px;
	margin-bottom:30px;
}

.editPriceDiv.active{
	display:block;
}

.editPriceDiv{
	display:none;
}

#bidDateDiv.active{
	display:block;
}

#bidDateDiv{
	display:none;
}

#bidDateDiv{
	margin:15px 30px;
}

#bidDateDiv h3{
	margin:10px;
}

#bidDateDiv div.row{
	margin:10px 0;
}

#bidDateDiv div.row label{
	width:300px;
	display:block;
	float:left;
	line-height:25px;
}

#bidDateDiv input[type="button"]{
	display:inline-block; /* or inline-block */
    width: 230px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:0 auto;
	border:0;
}

.detail_exw_fob_price{
	display:none;
}

.detail_exw_fob_price.active{
	display:block;
}

#sendOrderDiv{
	padding:10px
}

#sendOrderDiv #supplier_list_div{
	margin:15px 0;
	display:none;
}

#sendOrderDiv #supplier_list_div.active{
	display:block;
}

#sendOrderDiv label{
	display:block;
	width:100px;
	float:left;
}

#sendOrderDiv input[type="button"]{
	display:inline-block;
    width: 180px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:15px auto 0;
	border:0;	
}

#sendOrderDiv input[type="button"].disabled{
	background: #999;
}

#supplier_order_list_div{
	display:none;
}

#supplier_order_list_div.active{
	display:block;
}

#fancybox-content table.items,
.portlet table.items{
	border:1px solid #888;
}

.print_view table.items,
.print_view table.items td,
.print_view table.items th{
	border:1px solid #000;
}

table.border_table,
table.border_table td,
table.border_table th{
	border:1px solid #888;
}

.portlet table.items,
.print_view table.items{
	font-size: 11px;
	text-align: left;
}

.print_view table.items,
.print_view table.items td
{
	text-align: left;
}

#fancybox-content table.items th,
#fancybox-content table.items td,
.portlet table.items td,
.portlet table.items th{
	border:1px solid #888;
}

#progress{
	text-align:center;
	margin:10px;
}

div.choosen_shipper{
	color:#ff8800;
	font-weight:bold;
}

div.lowest_price_in_container{
	background-color:#BCE774;
}

div#supplier_order_items_list_div{
	margin:20px 0 0;
	border:1px solid #888;
}

div#supplier_order_items_list_div table{
	margin:0;
}

div#load_supplier_order_items_div{
	margin:20px 0;
}

.error_loading_pending_messages.active{
	display:block;
}

.error_loading_pending_messages{
	display:none;
}

#loading-pending-items-grid .summary{
	text-align:left;
	color:#EE0000;
	font-size:16px;
	font-style:italic;
	padding:0 0 0 40px;
	background:url("../images/button_images/critical.png") no-repeat scroll 10px 3px transparent;
}

#createOrderForPendingLoadingItemsDiv{
	padding:10px
}

#createOrderForPendingLoadingItemsDiv label{
	display:block;
	width:100px;
	float:left;
}

#createOrderForPendingLoadingItemsDiv input[type="button"]{
	display:inline-block;
    width: 180px; 
	padding: 7px 0;
	text-align:center;    
    background:#880000;
	border-bottom:1px solid #ddd;
	color:#fff;
	margin:15px auto 0;
	border:0;	
}

#supplier_order_list_content_for_pending_loading{
	display:none;
}

#supplier_order_list_content_for_pending_loading.active{
	display:block;
}

.total_price{
	margin:20px 0 !important;
}

#pending_loading_items_div input[type="text"].new_quantity{
	text-align:center;
}

#pending_loading_items_h{
    display: none;
}

.loading_quantity{
	text-align:center;
}

.edit_save_old_item, .edit_cancel_old_item
{
    display: none;
}

.new_qty_input
{
    width: 25px;
    text-align: center;
    display: none;
}

.hidden_data
{
    display: none;
}

#inventory-item-grid .dec_qty, #inventory-item-grid .inc_qty
{
    width: 20px;
    height: 20px;
    font-size: 10px;
}

/*#inventory-item-grid .instock_qty*/
#inventory-item-grid .inv_buttons .inner
{
    display: inline-block;
    padding: 0 8px;
}

div.form label.checkbox_label
{
    display: inline;
}

h3.sales_tax
{
    font-size: 12px;
    font-weight: normal;
}

h3.grand_total
{
    font-size: 18px;
}

.customer_order_buttons input
{
    font-size: 11px;
}

#inventory-item-grid
{
    font-size: 0.9em;
}

#customer-order-grid input[type="button"]
{
    font-size: 11px;
}

.portlet-content.customer_stats h5
{
    margin-bottom: 0;
}

.inv_buttons
{
    width: 110px;
}

#supplier-order-container-grid span.total_cbm,
#self-supplier-order-grid span.total_cbm,
#supplier-order-grid span.total_cbm,
.expand_sold
{
    border-bottom: 1px dashed #000;
    cursor: pointer;
    padding: 0 1px;
}

.sold_block
{
    background-color: #33ee8c;
}

span.lowest_price
{
    background-color:#FF0;
    color:#008000;
    font-size: 10px;
}

#bank_info_content.active
{
    display: block;
}

#bank_info_content
{
    display: none;
}

.item_canceled
{
    color: #aaa;
}

.balance_highlight
{
    color: #2bab1d;
}

.supplier_order_details
{
	border-collapse: collapse;
}

.supplier_order_details td
{
	border: 2px solid #C9E0ED;
	line-height: 180%;
	padding: 20px;
	text-align: center;
}

.warning
{
	color: #f00;
}

input.save_shipment,
input.cancel_new_shipment,
.shipment_item_checkbox
{
	display: none;
}

.customer_order_shipment_data table
{
	/*display: none;*/
}

.customer_order_shipment_data
{
	padding-bottom: 10px;
}

#customer-note-grid td
{
	text-align: left;
}

#box_dims .col
{
	float: left;
	width: 100px;
}

#box_dims input
{
	width: 60px;
}

#third_party_customer_info label
{
	display: inline-block;
	width: 50px;
	text-align: right;
	padding-right: 7px;
}

#third_party_customer_info label.left_label
{
	width: 35px;
	text-align: left;
}

#third_party_customer_info input
{
	display: inline-block;
	margin-right: 5px;
}

.rate_quote_text,
.rate_quote_number_text
{
    display: none;
}

#high_bids_message
{
	color: #f00;
}

.rate_quote.high
{
	border: 1px solid #f00;
}

span.high_quote
{
    color: #f00;
}

span.quote_limit,
span.lowest_quote
{
    display: none;
}

.grid-view table.items table.shipment_table tr.shipment>td
{
	border: 1px solid #000;
}

.grid-view table.items table.shipment_table
{
	border-spacing: 1px;
	border: 1px solid #000;
}

.shipment_table table
{
	margin-bottom: 0;
}

span.ind_item.in_stock{
	color: #34c924;
}

span.ind_item.not_ordered{
	color: #C00000;
	/*font-weight: bold;*/
}

span.ind_item.ordered_but_waiting{
	color: #C00000;
}

span.ind_item.incoming{
	color: #ffa500;
}

table.ui-datepicker-calendar td.highlighted a{
	color: #ffa500;
	font-weight: bold;
}

#customer-sold-order-grid table.items{
	font-size: 12px;
}

#order_info_form_container div.form .row{
	float: left;
	margin-right: 5px;
}

span.clickable{
	border-bottom: 1px dashed #000;
    cursor: pointer;
    padding: 0 1px;
}

.order_ant_profit{
	font-weight: bold;
	padding: 5px;
	float: left;
}

.customer_search{
	float: right;
	margin-bottom: 10px;
}
.customer_search label{
	margin: 5px;
	font-weight: bold;
}
.highlight { background-color: yellow; }

.custom-grid-view
{
	padding: 15px 0;
}

.custom-grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #D0E3EF solid;
}

.custom-grid-view table.items th, .custom-grid-view table.items td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em;
}

.custom-grid-view table.items th
{
	color: white;
	background: url("bg.gif") repeat-x scroll left top white;
	text-align: center;
}

.custom-grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.custom-grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.custom-grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.custom-grid-view table.items tr.even
{
	background: #F8F8F8;
}

.custom-grid-view table.items tr.odd
{
	background: #E5F1F4;
}

.custom-grid-view table.items tr.selected
{
	background: #BCE774;
}

.custom-grid-view table.items tr:hover
{
	background: #ECFBD4;
}

.custom-grid-view .link-column img
{
	border: 0;
}

.custom-grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.custom-grid-view .button-column img
{
	border: 0;
}

.custom-grid-view .checkbox-column
{
	width: 15px;
}

.custom-grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.custom-grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.custom-grid-view .empty
{
	font-style: italic;
}

.custom-grid-view .filters input,
.custom-grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}

table.damaged_items input
{
	display: none;
}

#customer-shipment-claims-grid .replace_save,
#customer-shipment-claims-grid .replace_cancel,
#customer-shipment-claims-grid .refund_save,
#customer-shipment-claims-grid .refund_cancel,
#customer-shipment-claims-grid .authorize_return_save,
#customer-shipment-claims-grid .authorize_return_cancel
{
	display: none;
}

.customer_note_attachment
{
	border-top: dashed 1px #000;
	margin-top: 4px;
	padding-top: 4px;
}

.imported_item
{
	color: #34C924;
}

.imported_item_info
{
	color: #aaa;
	font-size: 0.8em;
}